{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <!--<select class="form-control" name="symbol" required>
                {% for stock in stocks %}
                    <option value="{{ stock.symbol }}" data-total-shares="{{ stock.total_shares }}">{{ stock.symbol }}</option>
                {% endfor %}
            </select>-->
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text"  required />
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number" min="1" required />
        </div>
        <button class="btn btn-danger" type="submit">Sell</button>
    </form>

</br>
</br>

  {%  for (k,v), (k2,v2), (k3,v3) in zip(ads1.items(), ads2.items(), ads3.items()): %}
  <div class="card" style="width: 32%;margin:5px;display:inline-block">
    <img class ="card-img-top" src="{{v['img']}}" alt="{{v['alt']}}">
    <div class="card-body">
      <p class="card-text">{{v['desc']}}</p>
      <a href="{{v['link']}}" class="card-link">Visit</a>
    </div>
  </div>
  <div class="card" style="width: 32%;margin:5px;display:inline-block">
    <img class ="card-img-top" src="{{v2['img']}}" alt="{{v2['alt']}}">
    <div class="card-body">
      <p class="card-text">{{v2['desc']}}</p>
      <a href="{{v2['link']}}" class="card-link">Visit</a>
    </div>
  </div>
  <div class="card" style="width: 32%;margin:5px;display:inline-block">
    <img class ="card-img-top" src="{{v3['img']}}" alt="{{v3['alt']}}">
    <div class="card-body">
      <p class="card-text">{{v3['desc']}}</p>
      <a href="{{v3['link']}}" class="card-link">Visit</a>
    </div>
  </div>
  {% endfor %}
{% endblock %}
